body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #3498db;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#container {
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); */
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.key-display {
    margin-top: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

p {
    text-shadow: 1px 5px 0px rgba(10, 10, 10, 0.5)
}

span {
    font-weight: bold;
}

/* Optional: Add styles for a button press effect */
.key-display p {
    font-size: 4rem;
    margin: 10px;
    padding: 15px 25px;
    background-color: #2980b9;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
    -webkit-transition: transform 0.1s, background-color 0.1s;
    -moz-transition: transform 0.1s, background-color 0.1s;
    -ms-transition: transform 0.1s, background-color 0.1s;
    -o-transition: transform 0.1s, background-color 0.1s;
}

#output-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.history {
    height: fit-content;
    max-height: 300px;
    color: white;
    background-color: #2980b9;
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
}

#pressed-keyWrapper {
    padding-right: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    overflow: auto;
    max-height: 260px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pressedKey {
    width: max-content;
    background-color: #3498db;
    display: flex;
    padding: 5px 8px;
    gap: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.pressedKey .key{
    font-weight: 500;
    text-shadow: none;
    margin: 0;
    font-size: 1.5rem;
    align-self: flex-start;
}

.time {
    font-size: .5rem;
    color: rgb(237, 231, 231);
    align-self: flex-end;
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #76aed3;
}

::-webkit-scrollbar-thumb {
    background: rgb(237, 234, 234);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}